<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Document</title>
    <link rel="shortcut icon" href="/static/images/testlogo.png">

    <!--CSS Links-->
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/styles.css">
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/viewStyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>

<body>
    
    <!--Navigation Bar-->
    <div id = "header">
        <a href="/uploads"><img src="/static/images/testlogo2.png" alt="Peer Learning Logo" align="left"></a>
        <div class="topnav">
            <input onclick="dropdown()" type="text" placeholder="Search.." id="Input" onkeyup="filter()">
            <div class="dropdown">
                <div id="Dropdown" class="dropdown-content">
                    <ul>
                    <% views.forEach(function(resource){ %>
                        <li><a href="/view/<%= resource.id %>" class="resource"><%= resource.course %>: <%= resource.title %></a></li>
                    <% }); %>
                    </ul>
                </div>
            </div>
            <a href="/logout">Log Out</a>
            <a href="/profile">Edit Profile</a>
            <a href="/about">About</a>
        </div>
    </div>

    <script src="/static/js/viewScript.js"></script>

    <!--Page Title-->
    <div class = page-title>
        <% resources.forEach(function(resource){ %>
        <h1><%= resource.title %></h1>
        <h2><%= resource.course %> <%= resource.type %> uploaded by <%= resource.username %></h2>
        
        <button id="like-button"><i class="fa fa-heart"></i> Like</button>
        <span id="display"><%= resource.likes %></span>
        <span> Likes</span>

        <script src="/static/js/likeScript.js"></script>

        <!--File Viewer-->
        <br><center><iframe src="<%= resource.document %>"></iframe></center>
        <% }); %>
    </div>
</body>
</html>